#ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: 2s ease-in-out 0s infinite alternate none running elongate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: elongate;
  display: none;
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

#ar-prompt > img {
  animation: circle 4s linear infinite;
}

model-viewer {
  width: 100%;
  height: 100%;
}
