$primary-color: #007bff;
$secondary-color: #6c757d;
$font-size-base: 16px;
$second-color: #0b70a2;
$second-color-1: #06aeef;
$shadow-color: #47659314;
$black-color: #3A3A3C;
$black-color-second: #111111;
$white-color: #ffff;
$red-color: #ff214a;

$margin-top-title-option: 10px;
$padding-vertical-group-inputs: 20px;
$width-interface: 39vw;
